@import './media.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.want-sell-parent {
  padding-top: 180px;

  @include lg {
    padding-top: 250px;
  }

  .want-sell-width {
    width: 90%;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(73deg, #eea2c9, #eea2c9, #bd558a, #bd558a);
    border-radius: 20px;
@include lg{
  background: linear-gradient(203deg, #eea2c9, #eea2c9, #bd558a, #bd558a);
}
    .flex {
      padding: 50px 50px 0 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
      place-items: center;

      @include laptop {
        padding: 50px;
      }

      @include lg {
        padding: 30px 30px 0 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        place-content: center;
        place-items: center;
      }

      .text {
        margin-top: -65px;
        @include laptop{
          margin-top: 0;
        }
        @include lg{
          margin-top: 0;
        }
        h1 {
          font-weight: 800;
          font-size: 40px;
          color: #9D2161;
          font-family: "Manrope", sans-serif;

          @include mobile {
            font-size: 28px;
            width: 77%;
          }
        }

        .points {
          padding-top: 30px;

          li {
            font-size: 24px;
            font-weight: 500;
            font-family: "Manrope", sans-serif;
            padding: 5px 0;

            @include mobile {
              font-size: 14px;
            }

          }
        }

        .login-navbar {
          display: flex;
          align-items: center;
          padding: 15px 25px;
          gap: 10px;
          margin-top: 40px;
          background: #34A853;
          width: 25%;
          border-radius: 4px;
          justify-content: center;

          @include lg {
            width: 30%;
          }

          @include mobile {
            font-size: 14px;
          }




          span {
            margin-top: 4px;

            @include mobile {
              font-size: 13px;
            }

            color: white;
          }

          input {
            border: none;
            outline: none;
            background: none;
            color: white;
            font-family: "Manrope", sans-serif;
            font-weight: 700;
            font-size: 16px;

            @include mobile {
              font-size: 13px;
            }
          }






        }

      }

      .img {
        @include lg{
          margin-left: -65px;
          margin-bottom: -10px;
          width: 100%;
      
        }
        @include mobile {
          margin-left: -47px;
          margin-bottom: -10px;
          width: 130%;
      
        }

        img {
          width: 100%;
        }
      }
    }
  }
}